<footer class="page-footer font-small">

<div class="continf">
  <div class="contacts">
    <div class="contacts-item">
      <h4>Head Quarter</h4>
      <p>Kazakhstan, Almaty, Konaeva 15/A</p>
    </div>
    <div class="contacts-item">
      <h4>Email</h4>
      <p>inform_buro@inf.com</p>
      <p routerLink="/admin">Admin</p>
    </div>
    <div class="contacts-item">
      <h4>Phone</h4>
      <p>+7(778)-123-55-20</p>
    </div>
  </div>
</div>

  <div class="footer-copyright text-center py-3">
    <a>© "Infopolis" LLP, 2015-2021. All rights reserved.
      The use of the materials is allowed only with the written permission of "Infopolis" LLP"
    </a>
  </div>
</footer>
