<div class="container">
  <div class="content">
    <h2 [innerText]="title"></h2>
    <div class="inside-content">
      <h3>{{iText}} Office</h3>
      <p>050000, Almaty, D. Kunaev str., 77, office 512</p>
      <p>e-mail: <a [ngStyle]="myStyle" (click)='buttonClick()'>astana@informburo.kz, almaty@informburo.kz</a></p>
      <p><b>{{iText}}  </b>news on Channel 31"</p>
      <p>Phone number: <a (click)='buttonClick()'>+7 (727) 315 95 31</a>(Almaty)</p>
      <p>e-mail: <a [ngStyle]="myStyle" (click)='buttonClick()'>informburo@31.kz</a></p>
      <p>{{iText| lowercase}}.kz: <a  (click)='buttonClick()'>+7 (727) 355 03 11</a></p>
      <hr>
      <p>General questions: <a [ngStyle]="myStyle" (click)='buttonClick()'>info@informburo.kz</a></p>
      <p>Technical questions: <a [ngStyle]="myStyle" (click)='buttonClick()'>support@informburo.kz</a></p>
      <p>You can send your CV to: <a [ngStyle]="myStyle" (click)='buttonClick()'>cv@informburo.kz</a></p>
      <p>For advertising, placement of PR materials and information partnership: <a [ngStyle]="myStyle" (click)='buttonClick()'>sales@informburo.kz</a></p>

    </div>
  </div>

</div>

<app-latestnews></app-latestnews>


