<header>
  <div>
    <img class="logo" src="https://yt3.ggpht.com/ytc/AAUvwnhjQThiX3NdJClbJeil1aL-fMIYkPfs2KvytcdS=s900-c-k-c0x00ffffff-no-rj" alt="logo">
  </div>

  <div class="nav">
    <a routerLink="/home"><b>Home</b></a>
    <a routerLink="/story"><b>Stories</b></a>
    <a routerLink="/interviews"><b>Interviews</b></a>
    <a routerLink="/covid"><b>Covid-19</b></a>
    <a routerLink="#"><b>Contacts</b></a>
    <form action="#">
      <label>
        <input type="search" placeholder="Search.." name="item" [(ngModel)]="item" style="width: 145px">
      </label>
      <button type="submit" (click)="findItem(item)">Find</button>
    </form>
    </div>
</header>

