<header>
  <div>
    <img class="logo" src="https://yt3.ggpht.com/ytc/AAUvwnhjQThiX3NdJClbJeil1aL-fMIYkPfs2KvytcdS=s900-c-k-c0x00ffffff-no-rj" alt="logo">
  </div>

  <div class="nav">
    <a href="'./home.component.html'"><b>Home</b></a>
    <a href="#"><b>Stories</b></a>
    <a href="#"><b>Interviews</b></a>
    <a href="#"><b>COVID-19</b></a>
    <a href="#"><b>Contacts</b></a>
    <form action="#">
        <input type="search" placeholder="Search.." name="search" >
        <button type="submit">Find</button>
    </form>
    </div>
</header>
