<div class="container">
  <div class="cont">
    <h1> Coronavirus in Kazakhstan</h1>
  </div>
  <div class="container-body">
    <div class="cont-description">
      <p>At the end of December 2019, an outbreak of pneumonia caused by a new type of coronavirus 2019-nCoV (Covid-19) occurred in the Chinese city of Wuhan, Hubei Province. The World Health Organization recognized Covid-19 as a pandemic on March 11, 2020.</p>
      <p>On March 13, Kazakhstan announced the first cases of coronavirus infection. On March 26, the first fatal case was registered. By the end of 2020, the total number of people infected with Covid-19 and coronavirus pneumonia in Kazakhstan, according to official statistics, reached 200 thousand people, more than 2,700 patients died.</p>
      <p>The chief sanitary doctors of the regions of Kazakhstan introduce and remove quarantine restrictions depending on the epidemiological situation.</p>
      <p>Kazakhstan has developed its own vaccine against the QazCovid-in coronavirus, and plans to use the Russian Sputnik V vaccine. Mass vaccination will begin in the first quarter of 2021.</p>
    </div>
    <img class="img" src="https://pbs.twimg.com/media/EWTuFO3WAAwfyv3.jpg">
  </div>

<router-outlet></router-outlet>
