<div class="covid">
  <div class="nav_covid">
    <a routerLink="/covid"><b>Statistic of COVID-19 in Kazakhstan:</b></a>
    <a routerLink="/covid">Infected: 206 652</a>
    <a routerLink="/covid" style="color:#008000">Recovered: 190 610</a>
    <a routerLink="/covid" >Died: 2960</a>
    <a routerLink="/covid" ><b>Coronavirus pneumonia:</b></a>
    <a routerLink="/covid">Infected: 48 932</a>
    <a routerLink="/covid" style="color:#008000">Recovered: 40 336</a>
    <a routerLink="/covid" >Died: 608</a>
  </div>
</div>

<router-outlet></router-outlet>
