.content{
  margin: 100px 50px;
}

.container{
  width: 1080px;
  display:block;
  margin:auto;
}

h3{
  font-size: 20px;

}

img{
  display:block;
  margin:auto;
  width: 880px;
  height: 470px
}

.ptext{
  font-size: 20px;
}

.btn{
  background-color: #6383F7;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}
