<div class="content">
<div class="container">
  <h1 >Stanislav Chan, Home Credit Bank. All mobile applications will be integrated into ecosystems</h1>
  <p>Published date: {{toDate | date: 'medium'}} </p>
  <img src="https://informburo.kz/storage/photos/123/main/tOgunBhkuIT2XEnQCpDccwefuH5rwclqsk8xGX68.jpg" alt="photo">
  <h3>Informburo.kz, together with Bank Home Credit, explains why big data and personalized offers are the key to the success of mobile banking.</h3>
  <p class="ptext">
    The coronacrisis really accelerated the process of digitalization of banking, saving Kazakhstan years of digital development. In addition to generations X and Z, mobile banking began to be mastered by the older generation of Kazakhstanis, and banks became involved in an even more acute competition for customers. About what is happening in the digital banking market and what can be expected in the near future, in an interview with Informburo.Stanislav Tian, Director of the Online Business Department at Home Credit Bank, told kz.
  </p>
  <h3>- Stanislav, can we say that this year has made banks even more digital?</h3>
  <p class="ptext">– Yes, definitely, this year was significant in the development of digital services and the rapid transition of customers from the traditional environment to online. Now the availability of a high-quality mobile application is an integral part of not only the banking sector. Today, it is very difficult to imagine a serious company that does not have a high-quality mobile application or is not properly represented in the online environment.</p>
  <p class="ptext">It is clear that this leap in digitalization did not occur organically, but was caused by the influence of external factors, but these conditions accelerated the processes of digitalization so much that we were where we should have been in three years, and maybe even in five years, and this applies not only to the banking sector.</p>
 <!-- <div class="user">
    <p>ASA Fasdfg </p>
  </div>-->
  <button (click)="show()">Other Posts(if you want to see click this button!)</button>
  <div *ngIf="otherPosts">
    <app-latestnews></app-latestnews>
  </div>
</div>

</div>

<router-outlet></router-outlet>
