.st-cont{
  padding-bottom: 70px;
  padding-top: 10px;
  margin: 80px 50px;
  background-color: Snow;
}

.cont-1{
  display: flex;
  margin: 50px 100px;
  padding-top: 30px;
  height: 180px;
  position: relative;
}
.cont-title{
  display: inline-block;
  position: absolute;
  top: 40px;
  margin: auto 40px;
}

img{
  margin-top: -10px;
}

.cont-title > p{
  font-size: 18px;
}
.cont-title > h3{
  font-size: 20px;
}

.odd{
  background-color: Seashell;
}

.even{
  background-color: AliceBlue;
}


