.st-cont{
  padding-bottom: 70px;
  margin: -8px -8px;
}

.cont-1{
  display: flex;
  margin: 0 30px;
}

.cont-item{
  background: #fff;
  padding: 40px 26px 10px 40px;
  margin: 15px 19px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 15px;
}

.cont-item{
  width: 360px;
  height: 310px;
}

.cont-item  > p{
  text-align: center;
  color: #363636;
}

.cont-item  > h4{
  margin-top: 5px;
}



