<div class="container">
  <section class="choosing-1">
    <div class="choosing1-text">
      <h4> The acceptance of documents for obtaining a preferential mortgage under the "Almaty Zhastary" program has begun"</h4>
      <p>Acceptance of documents will last until March 31.<br>
        The acceptance of documents for obtaining a preferential mortgage under the "Almaty Zhastary" program has begun. As of 12.30 on March 10, 1229 applications have already been submitted. The Department of Housing Policy of Almaty checks the authenticity of the attached documents and selects participants according to the points scored. The number of points will depend on the number of years of marriage, the presence of children, the duration of continuous work experience in the category.</p>
      <p>Published date: {{toDate | date: 'medium'}} </p>
    </div>
    <div class="choosing1-bg">
      <img src="https://informburo.kz/storage/photos/108/main/roWKSroyfWUia2GnTi81gNkaOMfiI1AO1fuHuNOy.jpg" style="height:457px; width: 620px;" alt="background photo">
    </div>
  </section>
</div>

<app-latestnews></app-latestnews>

<router-outlet></router-outlet>
