<div class="container">
  <section class="choosing-1">
    <div class="choosing1-text">
      <h4> MES: Closing of factories for printing diplomas is a matter of security of the country and Kazakhstanis</h4>
      <p>Vice-Minister of Education and Science of the Republic of Kazakhstan Miras Daulenov commented on the deprivation of universities of the general license and their closure. Miras Daulenov stressed that the Ministry closes those educational institutions that provide low-quality education.
        "Kazakhstan is should understand that the closure of "factories for printing diplomas" is a matter of security for the country and every citizen. No one closes strong universities that have high rates of employment of graduates and are recognized by employers. We only support them by creating conditions for them. I repeat, we have a lot of really strong universities, and we are proud of them and support them, " the Vice Minister stressed.</p>
      <p>Published date: {{toDate | date: 'medium'}} </p>
    </div>
    <div class="choosing1-bg">
      <img src="https://informburo.kz/storage/photos/21/main/tbE834PhqwVpOMx6IG3eRtorRHru83ezGjm3YeU3.jpg" style="height:457px; width: 620px;" alt="background photo">
    </div>
  </section>
</div>

<app-latestnews></app-latestnews>

<router-outlet></router-outlet>
