.container {
  padding: 0 70px;
}


.choosing-1{
  display: flex;
  padding-top: 103px;
  padding-bottom: 50px;
}


.choosing-1 > div {
  width: 50%;
}

.choosing1-text{
  padding-right: 30px;
}
.choosing1-text > h4{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0 15px 0;
}

.choosing1-text > p {
  font-size: 18px;
  line-height: 32px;
}

.choosing1-bg {
  margin-left: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}
